{% extends 'base.html.twig' %}

{% block body %}
	<div>
		<h1>Webhooks</h1>
		<ul>
			{% for item in items %}
				<li><a href="{{ item }}">{{ item }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
