<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
	backupGlobals="false"
	colors="true"
	bootstrap="tests/bootstrap.php"
	cacheDirectory=".phpunit.cache">
	<php>
		<ini name="display_errors" value="1" />
		<ini name="error_reporting" value="-1" />
		<env name="SYMFONY_DEPRECATIONS_HELPER" value="max[total]=999999" />
		<env name="APP_ENV" value="test" force="true" />
		<server name="APP_ENV" value="test" force="true" />
		<server name="SHELL_VERBOSITY" value="-1" />
		<server name="SYMFONY_PHPUNIT_REMOVE" value="" />
		<server name="SYMFONY_PHPUNIT_VERSION" value="10.5" />
	</php>
	<testsuites>
		<testsuite name="Project Test Suite">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	<!-- https://docs.phpunit.de/en/10.5/configuration.html#the-coverage-element -->
	<coverage
		includeUncoveredFiles="true"
		pathCoverage="false"
		ignoreDeprecatedCodeUnits="true"
		disableCodeCoverageIgnore="true">
		<report>
			<html outputDirectory="var/coverage/html" lowUpperBound="50" highLowerBound="90" />
		</report>
	</coverage>
	<!--
	<logging>
		<text outputFile="phpunit.log"/>
	</logging>
	-->
	<source>
		<include>
			<directory suffix=".php">src</directory>
		</include>
		<exclude>
			<directory suffix=".php">src/DataFixtures</directory>
			<directory suffix=".php">src/EventSubscriber</directory>
			<file>src/Kernel.php</file>
		</exclude>
	</source>
</phpunit>
