{% extends 'base.html.twig' %}

{% block body_id 'board' %}

{% block title %}
	Test board
{% endblock %}

{% block body %}
	<div class="container">
		<div class="page-header">
			<h1>Test board</h1>
		</div>
		<div class="page-content mt-2">
			<button class="mb-2 button is-small">
				Test board
			</button>
		</div>
	</div>
{% endblock %}
